laboratory/src/main/resources/eXtensibles/assistant/assistants.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="assistant">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="lastname" type="xs:string"/>
                <xs:element name="nationality" type="xs:string"/>
                <xs:element name="age" type="xs:positiveInteger"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:positiveInteger"/>
        </xs:complexType>
    </xs:element>
</xs:schema>