laboratory/src/main/resources/eXtensibles/lab/labs.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="lab">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="capacity" type="xs:positiveInteger"/>
                <xs:element name="complexity" type="xs:positiveInteger"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:positiveInteger"/>
        </xs:complexType>
    </xs:element>

</xs:schema>